.fapicker-icons__holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;

  padding-left: 20px;
  padding-right: 8px;
  padding-top: 20px;
  margin-bottom: 0px;
}

.fapicker-icons {
  background-color: #fff;
  border: 1px solid;
  border-color: #dbe0e9 #ced5e1;
}

.fapicker-icons__search-holder {
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.fapicker-icons__search-holder input {
  width: 90% !important;
}

.fapicker-icons__holder__icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 12px 12px 0;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 0 0 1px #ddd;
  color: inherit;

  background-color: #ffffff;
}
.fapicker-icons__holder__icon:hover {
  background-color: #eee;
}

.fapicker-icons__holder__icon i {
  font-size: 35px;
}

.fapicker-icons__bottom {
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.fapicker-icons__bottom span:not(:last-child) {
  margin-right: 10px;
}
